<%= form_for Especialidad.new do |f| %>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary mr5">Guardar</button>
    <button type="reset" class="btn btn-dark">Limpiar</button>
  </div>
<% end %>