<div class="row">
<div class="span12">
  <div class="nonboxy-widget">
    <div class="widget-head">
      <h5>Especialidades Registradas</h5>
    </div>
    <div class="widget-content">
      <div class="widget-box">
      <!--comentarios aqui-->
        <table class="table table-default table-bordered">
        <thead>
        <tr>  
          <th>#</th>
          <th>Nombre</th>
        </tr>
        </thead>
       <tbody>
         <% i = 1 %>
         <% @especialidades.each do |especialidad| %>
           <tr>          
              <td><%= i %></td>   
              <td><%= especialidad.nombre %></td>
           </tr>
          <% i+=1 %>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
</div>